# === General ===
.DS_Store
Thumbs.db

# === Node ===
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Backend (Nodemon, Express) ===
/backend/node_modules/
/backend/.env
/backend/logs/

# === Frontend (React + Vite) ===
/frontend/node_modules/

/frontend/.env

# === OS-specific ===
# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Icon?
Desktop.ini

# === Vite Cache ===
/frontend/.vite/

# === Mobile (if using Capacitor/Cordova later) ===
android/
ios/
build/
backend/db/dev.db

mobile/node_modules
mobile/.expo
mobile/dist
