.msg-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.msg-form {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 5px;
  z-index: 101;
}

.msg-form h2{
    margin-bottom: 20px;
    text-align: center;
    color: rgb(89, 159, 229);
}

.msg-form input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(89, 159, 229);
}

.msg-form button{
    padding: 10px;
    background-color: rgb(89, 159, 229);
    color: rgb(10, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}