.navbar {
    /* background-image: url(../assets/media/pictures/globe1.avif); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 1rem;
    color: rgb(239, 231, 231);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    /* background-color: burlywood; */
    width: 15cm;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500, bold;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #444;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu button {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: antiquewhite;
  border: none;
  border-bottom: 1px solid #444;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-style: double;
}

button:hover {
  background-color: #90a9d2;
  color: #04021c;
  font-weight:bolder;
}