.events-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* color: azure; */
  }

  .events-container h1{
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .event-card{
  border-style: double;
  background-color: rgba(93, 93, 90, 0.2);
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  }
  .event-card img{
    width: 80%;
    height: 80%;
    border-radius: 28px;
    margin-bottom: 10px;
    
  }

  .event-card p{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .event-card button{
    background-color: #e2ef28;
    color: #1b1a1a;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  .event-card button:hover{
    background-color: #0056b3;
  }

  .event-card button:focus{
    outline: none;
  }

  .event-card button:active{
    background-color: #003d80;
  }

  .event-card button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }

.event-body{
  /* background-color: aqua; */
  display: flex; 
  justify-content: space-around;
}

  .single-container{
    background-color: rgba(217, 203, 98, 0.3);
    padding: 10px;
    border-radius: 15px;
    width: 100%;

  }

@media (max-width: 768px) {
  .events-container{
    overflow: auto;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .event-card{
    max-width: fit-content;
  }

  .event-body{
    display: block;
  }
}