@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


.title{
  color: azure;
  background-color: rgb(84, 71, 95);
}


.main-container{
  /* background-color: brown; */
  display: grid;
  flex-direction: column;
}

.message-container, .board-container {
 border-style: double;
  display: grid;
  /* flex-direction: column; */
  grid-row: 1/2;
  
  justify-content: center;
  /* height: 100vh; */
  color: rgb(8, 7, 8);
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  padding: 10px;
}

.board-container{
  align-items: center;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.msg-edit{
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
}