.frontPage{
    margin-top: 0%;
    margin-left: 0%;
    background-image: url("../public/media/pictures/me-standing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}