/* TODO: Add sitewide styles */
body {
    /* margin-top: 0%;
    margin-left: 0%; */
    background-image: url("./assets/media/pictures/downtown.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vb;
}