/* TODO: Add sitewide styles */
body {
    margin-top: 0%;
    margin-left: 0%;
    background-image: url("./assets/media/pictures/Crosswalk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vb; */
    background-attachment: fixed;
    z-index: 1;
}

/* NAVBAR MUST NOT BLOCK PAGE INPUT */

.navbar {
  pointer-events: auto;
}
.page-body{
  margin-top: 5px;
}

/* EVERYTHING BELOW NAVBAR MUST ACCEPT INPUT */
.page-body,
.main-container,
.message-container,
.input-field,
.the-messages {
  pointer-events: auto !important;
}

/* Kill any invisible overlays */
.menu-overlay,
.mobile-overlay,


/* Fix body scroll lock */
html, body {
  overflow-y: auto !important;
  height: auto !important;
}
