/* TODO: Add sitewide styles */
body {
    margin-top: 0%;
    margin-left: 0%;
    background-image: url("./assets/media/pictures/Crosswalk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vb; */
    background-attachment: fixed;
    z-index: 1;
}
