/* TODO: Add sitewide styles */
body {
    margin-top: 0%;
    margin-left: 0%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/the-hype-f3b75.firebasestorage.app/o/Background%2Fcondoview.jpg?alt=media&token=31382e4c-3ba8-4025-ae6b-7726213049be");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vb; */
    background-attachment: fixed;
    z-index: 1;
}

/* NAVBAR MUST NOT BLOCK PAGE INPUT */

.navbar {
  pointer-events: auto;
}
.page-body{
  margin-top: 25px;
}

/* EVERYTHING BELOW NAVBAR MUST ACCEPT INPUT */
.page-body,
.main-container,
.message-container,
.input-field,
.the-messages {
  pointer-events: auto !important;
}

/* Kill any invisible overlays */
.menu-overlay,
.mobile-overlay,


/* Fix body scroll lock */
html, body {
  overflow-y: auto !important;
  height: auto !important;
}

@media (max-width: 480px) {
  /* mobile styles */
  .nav-links.open{
    top: 500px;
  }
}
